:root
{
    --main-radius:5px;
    --main-padding:5px;
}

body
{
    background-color:black;
}

.container
{
    display: grid;
    height: 97vh;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.2fr 0.8fr 0.5fr 1fr 0.2fr;
    grid-template-areas:
    "nav nav nav nav"
    "Sidebar Main Content3 RightSidebar"
    "Sidebar Content1 Content1 RightSidebar"
    "Sidebar Content2 Content2 RightSidebar"
    "footer footer footer footer";
    grid-gap: .4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-align: center;
}

nav
{
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main
{
    background-color:rgba(0, 0, 0, 0.700);
    grid-area: Main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: -3px -3px 10px yellow;
}
.MainDiv
{
    flex-direction: column;
}


#Sidebar
{
    grid-area: Sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#Content1
{
    background-color:rgba(0, 0, 0, 0.700);
    display: flex;
    flex-direction: row;
    grid-area: Content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: 0px 0px 3px yellow;
}
.MidContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.TempHourly
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#Content2
{
    background-color:rgba(0, 0, 0, 0.700);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: Content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: 0px 5px 10px yellow;
}
.DaylyFor
{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
em
{
    padding-top:15px;
}
.test
{
    padding-top:15px;
}

#Content3
{
    background-color:rgba(0, 0, 0, 0.700);
    grid-area: Content3;
    justify-content: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: 3px -3px 10px yellow;
}


footer
{
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#RightSidebar
{
    grid-area: RightSidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
.Divider
{
    padding: 0 10px 0 10px;
}
h2
{
    font-size: 28px;
    margin: 15px 0 0 0;
    font-weight: 100;
}
h1
{
    font-size: 48px;
    margin: 15px 5px 15px 5px;
    font-weight: 100;
}

@media only screen and (max-width: 550px)
{
    .container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr 0.3fr;
        grid-template-areas:
        "nav"
        "Sidebar"
        "Content3"
        "Main"
        "Content1"
        "Content2"
        "RightSidebar"
        "footer"
    }
    Main
    {
        box-shadow: 0px 1px 5px red;
    }
    #Content1
    {
        box-shadow: 0px 1px 5px red;
    }
    #Content2
    {
        box-shadow: 0px 1px 5px red;
    }
    #Content3
    {
        box-shadow: 0px 1px 5px red;
    }



}